@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;

}

#root {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('assets/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

h1 {
    font-family: 'Ubuntu-Bold', sans-serif;
}